.recipe {
  align-items: center;
  background-color: #f6c396;
  border: 1px solid rgba(226, 115, 24, 0.346);
  border-radius: 5px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.172);
  color: rgba(133, 63, 6, 0.923);
  display: flex;
  height: 135px;
  justify-content: space-between;
  margin-top: 20px;
  width: 318px;
}

.teste {
  align-items: center;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.recipe img {
  border-radius: 5px 0 0 5px;
  height: 100%;
  width: 50%;
}

.recipes-infos {
  height: 60%;
  padding: 5px;
  text-align: center;
  width: 50%;
}

.recipes-infos h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 12px;
}

.recipes-infos p {
  font-size: 12px;
  font-weight: 400;
  line-height: 9px;
}

.recipe-category {
  color: #d74607;
  font-size: 9px;
  font-weight: 300;
  line-height: 9px;
  text-align: center;
}

.share-btn {
  background: transparent;
  border: none;
  margin-top: 10px;
}

.tags {
  align-items: center;
  background: #f3dfc1;
  border-radius: 10px;
  display: flex;
  height: 20px;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 5px;
}

.container-buttons-filter {
  display: flex;
  gap: 10px;
}

.button-filter-recipe {
  align-items: center;
  background-color: #f3c7a1;
  border: 1px solid rgba(226, 115, 24, 0.225);
  border-radius: 30px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.172);
  color: rgb(191, 78, 3);
  display: flex;
  font-size: 20px;
  gap: 2px;
  height: 50px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 100px;
}

.icon-done {
  font-size: 25px;
}

.button-share {
  color: rgb(191, 78, 3);
  font-size: 40px;
}

.teste .title-done {
  margin-top: 40px;
}

div .header-favorite {
  margin-bottom: 10px;
}

.none {
  display: none;
}
