.footer {
  align-items: center;
  background-color: rgb(253, 206, 168);
  display: flex;
  height: 40px;
  justify-content: space-around;
  width: 100%;
}

.icon-footer {
  color: rgb(191, 78, 3);
  font-size: 35px;
}
