.header {
  display: flex;
  width: 100%;
}

.show {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  width: 280px;
}

.search-option {
  margin: 20px 5px;
}

.btn-search, .input-search {
  width: 280px;
}

.btn-show {
  background-color: transparent;
  border: none;
  right: 900px;
  top: 5px;
}

.btn-show:focus {
  outline: none;
}

