.recipe-card {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recipe-img {
  filter: brightness(70%);
  height: auto;
  left: -1px;
  position: relative;
  top: 0;
  width: 100%;
}

.favorite-and-share {
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 0;
  top: 10px;
  width: 100px;
}

.favorite-and-share button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  outline: none;
}

.recipe-name {
  align-items: center;
  background-color: #322923b0;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 900;
  height: auto;
  justify-content: center;
  letter-spacing: 0.105em;
  line-height: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  top: 16%;
  width: 100%;
}

.recipe-name h1, .recipe-name p {
  color: rgb(252, 229, 220);
  margin-bottom: -2px;
}

.recipe-name p {
  color: rgba(252, 229, 220, 0.778);
  font-size: 20px;
  margin-top: 8px;
  text-transform: uppercase;
}

.list {
  margin-top: 20px;
}

.ingredient-list {
  background: rgba(246, 240, 235, 0.84);
  border: 1px solid rgba(226, 115, 24, 0.433);
  border-radius: 5px;
  color: rgb(98, 50, 11);
  font-size: 18px;
  list-style: none;
  margin-top: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 335px;
}

.ingredient-list li {
  margin-bottom: 5px;
}

.ingredient-list li:before {
  background-image: url('../images/arrow.png');
  background-repeat: no-repeat;
  background-size: 25px;
  content: '';
  left: 0;
  margin-right: 10px;
  padding: 0 8px;
  position: relative;
  top: 0;
}

.section-titles {
  font-size: 35px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: -10px;
  margin-top: 10px;
}

.instructions {
  font-size: 18px;
  padding: 20px;
  word-spacing: 2px;
}

.iframe-container {
  background-color: transparent;
  border: none;
}

iframe {
  height: 205.09px;
  margin-top: 20px;
  width: 336px;
}

.carrousel {
  display: flex;
  height: 50vh;
  margin-bottom: 50px;
  margin-top: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.carrousel div {
  background-color: rgba(255, 111, 0, 0.362);
  border-radius: 10px;
  margin: 0 10px;
  padding: 20px;
  width: 400px;
}

.carrousel img {
  border-radius: 15px;
}

.carrousel h1 {
  margin-top: 3px;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.start-or-finish-button {
  background-color: rgb(242, 92, 12);
  border: solid 1px rgb(242, 92, 12);
  border-radius: 5px;
  box-shadow: 2px 3px 2.3px rgba(0, 0, 0, 0.235);
  color: rgb(239, 232, 227);
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  padding: 5px;
  text-transform: uppercase;
  width: 280px;
}

.start-or-finish-button:hover {
  background-color: rgba(238, 115, 57, 0.934);
  font-weight: 700;
}

.checkbox {
  margin-right: 5px;
}
