body {
  background-color: rgb(252, 234, 213);
}

.content-meals, .meals-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.card-img {
  border: 0.5px solid rgba(0, 0, 0, 0.418);
  border-radius: 10px 10px 0 0;
  margin-bottom: -12px;
  width: 165px;
}

.card-recipe {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  height: 252px;
  justify-content: center;
  width: 166px;
}

.card-name, .text-name {
  border: 0.5px solid rgba(0, 0, 0, 0.418);
  border-radius: 0 0 10px 10px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  overflow: hidden;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 165px;
  word-wrap: break-word;
}

.all-content {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  justify-content: center;
  margin-top: 40px;
  width: 80%;
}

.link-meals {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.text-name {
  flex-flow: wrap;
  height: 42px;
  margin-top: -11px;
  order: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 165px;
  word-wrap: break-word;
}

.meals-column, .all-meals {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 80%;
}

.all-recipes-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  margin: 0;
  width: 80%;
}

.container-button-filter {
  align-items: center;
  display: flex;
  gap: 22px;
  grid-column: 1/-1;
  justify-content: center;
}

.button-filter {
  align-items: center;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 3px black;
  display: flex;
  height: 40px;
  padding-right: 10px;
  width: 160px;
}

.img-filter {
  margin-left: 8px;
  width: 40px;
}

.name-category {
  display: flex;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.5px;
  margin-right: 5px;
  margin-top: 15px;
  width: 100%;
}

.map-meals-container {
  margin-top: 20px;
  width: 170px;
}

.title-recipes {
  align-self: center;
  color: rgb(200, 91, 2);
  display: flex;
  text-align: center;
}

.all-meals {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.all {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meals-card {
  margin: 0;
}

@media screen and ( max-width : 700px ) and ( min-width : 569px ) {

  .all-content {
    grid-template-columns: repeat(3, 163px);
  }

  .img-filter {
    width: 40px;
  }

  .button-filter {
    border-radius: 5px;
    display: flex;
    height: 40px;
    width: 140px;
  }
}

@media screen and ( max-width : 570px ) and ( min-width : 320px ) {

  .all-recipes-card {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    margin: 0;
    width: 100%;
  }

  .title-recipes {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 320px;
  }

  .card-img, .card-name, .text-name {
    border: none;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.253);
    width: 155px;
  }

  .card-img {
    border-bottom: none;
  }

  .icon-title-meals {
    color: rgb(200, 91, 2);
    font-size: 40px;
    margin-bottom: -10px;
  }

  .card-name, .text-name {
    background-color: rgb(249, 125, 58);
    border-top: none;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.164);
    color: rgb(249, 244, 243);
    font-weight: 500;
    margin-bottom: 0;
  }

  .meals-card {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0;
    width: 163px;
  }

  .meals-column {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 330px;
  }

  .all {
    width: 400px;
  }

  .all-meals {
    display: flex;
    margin: 0;
    margin-top: -35px;
    width: 100%;
  }

  .content-meals {
    margin: 0;
    margin-bottom: 70px;
  }

  .card-recipe {
    margin-bottom: -40px;
  }

  .text-name {
    flex-flow: wrap;
    margin-top: -10px;
  }

  .card-name {
    margin: 0;
  }

  .map-meals-container {
    gap: 10px;
    margin-top: 0;
    width: 100%;
  }

  .all-content {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    width: 100%;
  }

  .link-meals {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .container-button-filter {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .button-filter {
    background-color: rgb(255, 192, 141);
    border-radius: 25px;
    box-shadow: 2px 3px 2.3px rgba(0, 0, 0, 0.235);
    color: rgb(79, 35, 35);
    display: grid;
    font-weight: 400;
    grid-template-columns: 50px 90px;
    height: 45px;
    width: 150px;
  }

  .button-filter:focus {
    background-color: rgb(246, 138, 79);
  }

  .img-filter {
    background-color: rgb(246, 138, 79);
    border-radius: 50%;
    display: flex;
    margin-left: 5px;
    width: 40px;
  }

  .name-category {
    display: flex;
    justify-content: center;
    width: 100%;
  }

}
