body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

h1 {
  font-family: 'Contrail One', cursive;
  color: rgb(200,91,2);
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
